<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders" style="background-color: #FF5733">
			  	<div class="card-header">
			  		<h5 class="card-title">Coronavirus Cases</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">218</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered" style="background-color: #0093CF">
			  	<div class="card-header">
			  		<h5 class="card-title">Recovered</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">33</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending" style="background-color: #3B3C58">
			  	<div class="card-header">
			  		<h5 class="card-title">Deaths</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">20</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>


